
#div-header{
margin:2px 2px 2px 2px;
background-color:#FFFF99;
border:1px solid black;
border-radius:2px;
margin:2px 2px 2px 2px;
padding:2px 2px 2px 2px;
color:blue;
text-align: center;
}
#div-HW1{
margin:2px 2px 2px 2px;
background-color:#FFFF99;
border:1px solid black;
border-radius:2px;
padding:2px 2px 2px 2px;
color:blue;
text-align: center;
font-size: 18px;
}
#tbl1-HW1{
width:auto;
height:auto;
margin:1px 1px 1px 1px;
font-size:16px;
margin:1px 1px 1px 1px;
border:solid 1px black;
max-width:50px;
font-weight:normal;
}
#tbl2-HW1{
width:auto;
height:auto;
margin:1px 1px 1px 1px;
font-size:16px;
margin:1px 1px 1px 1px;
border:solid 1px black;
max-width:300px;
font-weight:normal;